<%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
        <div id="user-errors">
            <h2> <%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved: </h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li> <%= message %> </li>
                <% end %>
            </ul>
        </div>
    <% end %>
        
  <div>
    <%= form.label :username, "Your user name here" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Update User" %>
  </div>
<% end %>